/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox
{
  cursor: pointer;
  position: fixed;
  z-index: 10000;

  -ms-touch-action: none;
  touch-action: none;

  -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
  -moz-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
  box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */

  background-color: #333;
  padding: 1px;
  border: 0.625em solid #fff; /* 10 */
}


/* WITH ACTIVITY INDICATION */
#imagelightbox-loading
{
  width: 64px; /* 40 */
  height: 64px; /* 40 */
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0; /* 10 */
  margin: -1.25em 0 0 -1.25em; /* 20 */
  background-image:url("../images/bx_loader.gif");
}

/* WITH NAVIGATION */
#imagelightbox-nav
{
  background-color: #fff;
  background-color: rgba( 0, 0, 0, .5 );
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em; /* 60 */
  padding: 0.313em; /* 5 */

  -webkit-transform: translateX( -50% );
  -moz-transform: translateX( -50% );
  -ms-transform: translateX( -50% );
  -o-transform: translateX( -50% );
  transform: translateX( -50% );

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#imagelightbox-nav a
{
  width: 1em; /* 20 */
  height: 1em; /* 20 */
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 0.313em; /* 5 */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#imagelightbox-nav a.active
{
  background-color: #fff;
}

//#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav
{
  -webkit-animation: fade-in .25s linear;
  -moz-animation: fade-in .25s linear;
  -o-animation: fade-in .25s linear;
  animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in
{
  from	{ opacity: 0; }
  to		{ opacity: 1; }
}
@-moz-keyframes fade-in
{
  from	{ opacity: 0; }
  to		{ opacity: 1; }
}
@-o-keyframes fade-in
{
  from	{ opacity: 0; }
  to		{ opacity: 1; }
}
@keyframes fade-in
{
  from	{ opacity: 0; }
  to		{ opacity: 1; }
}

@media only screen and (max-width: 41.250em) /* 660 */
{
  #container
  {
    width: 100%;
  }
  #imagelightbox-close
  {
    top: 1.25em; /* 20 */
    right: 1.25em; /* 20 */
  }
  #imagelightbox-nav
  {
    bottom: 1.25em; /* 20 */
  }
}

/* for image */
a[rel^=lightbox] img
{
  -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .25 ); /* 5 */
  -moz-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .25 ); /* 5 */
  box-shadow: 0 0 0.313em rgba( 0, 0, 0, .25 ); /* 5 */

  -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
  -moz-transition: -moz-box-shadow .3s ease, border-color .3s ease;
  -ms-transition: -ms-box-shadow .3s ease, border-color .3s ease;
  -o-transition: -o-box-shadow .3s ease, border-color .3s ease;
  transition: box-shadow .3s ease, border-color .3s ease;
}
a[rel^=lightbox] img:hover
{
  border-color: #fff;

  -webkit-box-shadow: 0 0 0.938em rgba( 0, 0, 0, .45 ); /* 15 */
  -moz-box-shadow: 0 0 0.938em rgba( 0, 0, 0, .45 ); /* 15 */
  box-shadow: 0 0 0.938em rgba( 0, 0, 0, .45 ); /* 15 */
}
